<nz-card>
    <div class="card-header">
        <h3>
            User
        </h3>
        <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus"></i>New</button>
    </div>
    <nz-table [nzLoading]="loadingData" nzAlign="center" #basicTable [nzData]="connections">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of connections">
                <td>{{ data.fullname }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>
                    <!-- <button class="mx-10" nz-button nzShape="circle" nzType="primary" (click)="submitForm(data)"><i
                            nz-icon nzType="eye"></i></button> -->
                    <button nz-button nzShape="circle" nzType="primary" (click)="setUpdateForm(data)"><i nz-icon
                            nzType="edit"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-drawer [nzClosable]="true" [nzWidth]="640" [nzVisible]="visible" nzPlacement="right" nzTitle="Create User"
    (nzOnClose)="close()">
    <nz-card>
        <form nz-form [formGroup]="validateForm" class="login-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Full Name">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="fullname" placeholder="Full Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Email">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="text" nz-input formControlName="email" placeholder="Email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter phone number!">
                    <nz-input-group nzPrefixIcon="mobile">
                        <input type="text" nz-input formControlName="phone" placeholder="Phone" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nzType="primary" [nzLoading]="isLoadingConnect" nz-button type="button" (click)="addConnection()">
                <span>Create</span>
            </button>
        </form>
    </nz-card>
</nz-drawer>