.login-form {
    // max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  .steps-content{
      margin-top: 20px;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }