<nz-card>
    <div class="card-header">
        <h3>
            Notifications
        </h3>
        <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus"></i>New</button>
    </div>
    <nz-table [nzLoading]="loadingData" nzAlign="center" #basicTable [nzData]="connections">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of connections">
                <td>{{ data.name }}</td>
                <td>{{ data.recipients }}</td>
                <td><span [innerHTML] = "data.body"></span></td>
                <td>
                    <!-- <button class="mx-10" nz-button nzShape="circle" nzType="primary" (click)="submitForm(data)"><i
                            nz-icon nzType="eye"></i></button> -->
                    <button nz-button nzShape="circle" nzType="primary" (click)="setUpdateForm(data)"><i nz-icon
                            nzType="edit"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-drawer [nzClosable]="true" [nzWidth]="840" [nzVisible]="visible" nzPlacement="right" nzTitle="Create User"
    (nzOnClose)="close()">
    <nz-card>
        <form nz-form [formGroup]="validateForm" class="login-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Event">
                    <nz-select nzPlaceHolder="Event" formControlName="name">
                        <nz-option nzValue="EXPORT" nzLabel="EXPORT"></nz-option>
                        <nz-option nzValue="CREATE REPORT" nzLabel="CREATE REPORT"></nz-option>
                        <nz-option nzValue="ADD NEW USER" nzLabel="ADD NEW USER">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Recipients">
                    <nz-select  nzMode="multiple"  [nzTokenSeparators]="[',']" nzPlaceHolder="Recipients" formControlName="recipients">
                        <nz-option *ngFor="let u of users" [nzValue]="u.email" [nzLabel]="u.email + '('+u.fullname+')'">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter phone number!">
                    <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
                </nz-form-control>
            </nz-form-item>
            <button nzType="primary" [nzLoading]="isLoadingConnect" nz-button type="button" (click)="addConnection()">
                <span>Create</span>
            </button>
        </form>
    </nz-card>
</nz-drawer>