<div id="main">
    <div>
        <img style="height: 350px;
        width: 350px;
        position: absolute;
        top: 10%;" src="assets/cloud.png">
        <img style="height: 350px;
         width: 350px;
         position: absolute;
         left: 30%;
         top: 10%;" src="assets/cloud.png">
    </div>>
</div>
<nz-card>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
                    <span class="color-white">Remember me</span>
                </label>
            </div>
            <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">Forgot password</a>
            </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        <a style="    color: white;
        text-align: center;
        display: flex;
        justify-content: center;"> register now! </a>
    </form>
</nz-card>