#main{
    background-image: url('../../../assets/main-bg.svg');
    background-repeat: round;
    width: 100%;
    height: 100%;
}
.login-form {
    width: 320px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  nz-card{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 15%;
    background: #008BA6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 10px;
  }
  .color-white{
    color : white;
  }