<nz-card>
    <div class="card-header">
        <h3>
            Connections
        </h3>
        <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus"></i>New</button>
    </div>
    <nz-table [nzLoading]="loadingData" nzAlign = "center" #basicTable [nzData]="connections">
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of connections">
                <td>{{ data.con_name }}</td>
                <td>{{ data.host }}</td>
                <td>{{ data.username }}</td>
                <td>
                    <button class="mx-10" nz-button nzShape="circle" nzType="primary" (click) = "submitForm(data)"><i nz-icon nzType="eye"></i></button>
                    <button nz-button nzShape="circle" nzType="primary" (click)="setUpdateForm(data)"><i nz-icon nzType="edit"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<nz-drawer [nzClosable]="true"  [nzWidth]="640" [nzVisible]="visible" nzPlacement="right" nzTitle="Create Connection"
    (nzOnClose)="close()">
    <nz-card>
        <!-- <div class="card-header">
            <h3>
                Create New Connection
            </h3>
            <button nz-button nzType="danger"><i nz-icon nzType="close"></i>Cancel</button>
        </div> -->
        <form nz-form [formGroup]="validateForm" class="login-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Connection Name">
                    <nz-input-group nzPrefixIcon="container">
                        <input type="text" nz-input formControlName="conname" placeholder="Connection Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Host Name">
                    <nz-input-group nzPrefixIcon="desktop">
                        <input type="text" nz-input formControlName="host" placeholder="Host" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
                <nz-form-control>
                    <nz-select (ngModelChange)="getCollectionList($event)" formControlName="db"
                        nzPlaceHolder="Select Databse">
                        <nz-option *ngFor="let db of dbList" [nzValue]="db" [nzLabel]="db   "></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-select formControlName="collection" nzPlaceHolder="Select Collection">
                        <nz-option *ngFor="let collection of collectionList" [nzValue]="collection" [nzLabel]="collection">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <button class="mx-10" nzType="primary" [nzLoading]="isLoadingConnect" nz-button type="button" (click)="submitForm()"
                *ngIf="current < 2">
                <span>Test</span>
            </button>
            <button nzType="primary" [nzLoading]="isLoadingConnect" nz-button type="button" (click)="addConnection   ()"
                *ngIf="current < 2">
                <span>Save</span>
            </button>
        </form>
    </nz-card>
</nz-drawer>