:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-layout {
    height: 100vh;
  }
  
  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
  }
  
  .header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #fff;
    transition: all .3s;
  }
  
  .sidebar-logo img {
    display: inline-block;
    // height: 32px;
    // width: 64px;
    vertical-align: middle;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  
  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }
  
  .app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #F7941D;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
  }
  
  nz-content {
    margin: 24px;
  }
  
  .inner-content {
    padding: 24px;
    // background: #fff;
    height: 100%;
  }
  
  ::ng-deep .trigger:hover{
    color : white;
  }
  ::ng-deep .trigger{
    color : white;
  }
  #filterBtn{
    display: flex;
    // justify-content: flex-end;
  }
  #addFilterBtn{
    display: flex;
    justify-content: space-between;
  }  
  .menu-sidebar{
    min-height: 100vh;
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
  }
::ng-deep .ngx-charts {
  padding-top: 20px;
  float: left;
  overflow: visible;
  width: 100%;
}
::ng-deep .ant-layout-header{
  height: auto;
}
.loading {
  height: 100px;
  justify-content: center;
  padding: 50px;
}
.graph-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 142vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
::ng-deep li.ant-menu-submenu.ant-menu-submenu-selected.ant-menu-submenu-inline {
    background: #F7941D !important;
}
::ng-deep td{
  min-width: 150px;
}
.analytics-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

b{
  color : #ffb347
}
::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-weight: bold;
}
::ng-deep .ant-divider-horizontal {
  margin-top: 15px;
  margin-bottom: 0px;
}
::ng-deep .ant-table-pagination.ant-pagination{
  float: left;
}