<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img *ngIf="!isCollapsed" height="32px" width="64px"
                    src="assets/logo.webp" alt="logo">
                <img *ngIf="isCollapsed" height="32px" width="32px"
                    src="assets/logo.webp" alt="logo">
                <h1>CDO Studio</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu [nzIcon]="db.loader ? 'loading' : 'database'" [nzTitle]="db.db"
                *ngFor="let db of connectionDetails.db;let i = index; " (click)="getDatabaseChildren(i)">
                <ul>
                    <li *ngFor="let col of db.collections" nz-menu-item>
                        <a (click)="getData(i,col)">{{col}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <!-- <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div> -->
            <ul nz-menu nzTheme="dark" nzMode="horizontal" [nzInlineCollapsed]="isCollapsed">
                <li (click)="goto('/home')" nz-menu-item nz-tooltip nzTooltipPlacement="right"
                    [nzTitle]="isCollapsed ? 'Navigation One' : ''">
                    <i nz-icon nzType="home"></i>
                    <span>Home</span>
                </li>
                <li (click)="goto('/reports')"  routerLinkActive="active-link" nz-menu-item nzMatchRouter nz-menu-item>
                    <i nz-icon nzType="form"></i>
                    <span>Reports</span>
                </li>
                <li nz-submenu nzOpen="false" nzTitle="Integration" nzIcon="form">
                    <ul>
                        <li (click)="goto('/mysql')" nz-menu-item nzMatchRouter>
                            <a>My SQL</a>
                        </li>
                        <li (click)="goto('/mongo')" routerLink="/mongo" routerLinkActive="active-link" nz-menu-item
                            nzMatchRouter>
                            <a>Mongo DB</a>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <a (click)="goto('/mysql')">Service Now</a>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <a (click)="goto('/mysql')">AWS Dynamo DB</a>
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzTitle="Account" nzIcon="form">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            <a>Edit Profile</a>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <a>Change Password</a>
                        </li>
                        <li nz-menu-item nzMatchRouter>
                            <a routerLink="/login" routerLinkActive="active-link">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <nz-tabset [nzTabPosition]="'top'">
                    <nz-tab [nzTitle]="'Dataset'">
                        <nz-card>
                            <nz-table #dataTable [nzTitle]="filterButton" nzBordered nzSize="small" [nzLoading]="dataLoading"
                                nzAlign="center" [nzShowSizeChanger]="paginate" [nzShowPagination]="paginate"
                                (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzData]="mongoData">
                                <thead>
                                    <tr>
                                        <th *ngFor="let col of cols">{{col}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataTable.data">
                                        <td nzBreakWord *ngFor="let col of cols">{{ data[col] }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </nz-card>
                    </nz-tab>

                    <nz-tab [nzTitle]="'Overall (DQI) Data quality Index'">
                        <nz-card>
                            <div nz-row>
                                <div nz-col nzSpan="12" *ngFor="let o of overallAnalytics">
                                    <div nz-row class="p-1">
                                        <div nz-col [nzSpan]="4">
                                            <h1>
                                                {{o.score || 0 }}%
                                            </h1>
                                        </div>
                                        <div nz-col [nzSpan]="20">
                                            <h3 class="mb-0">
                                                {{o.name}}
                                            </h3>
                                            <nz-progress [nzPercent]="o.score"
                                                [nzStrokeColor]="o.score < o.threshold ?  '#FF8564' : '#52c41a'">
                                            </nz-progress>
                                        </div>
                                        <nz-divider></nz-divider>
                                        <nz-badge [nzColor]="'#52c41a'" [nzText]="'Threshold '+ o.threshold+'%'">
                                        </nz-badge>
                                    </div>
                                </div>
                            </div>
                        </nz-card>
                    </nz-tab>
                    <nz-tab [nzTitle]="'Data Profile'">
                        <nz-card>
                            <div *ngIf="mysqlAnalytics">
                                <nz-collapse>
                                    <nz-collapse-panel [nzActive]="true" *ngFor="let analytics of mysqlAnalytics"
                                        [nzHeader]="analytics.col">
                                        <nz-list nzBordered nzSize="small">
                                            <nz-list-item>
                                                <div class="analytics-div">
                                                    <span>
                                                        <b>Observations
                                                        </b>
                                                    </span>
                                                    <span>
                                                        <nz-tag [nzColor]="'#008BA6'">{{analytics.desc.count}}</nz-tag>
                                                    </span>
                                                </div>
                                            </nz-list-item>
                                            <nz-list-item>
                                                <div class="analytics-div">
                                                    <span>
                                                        <b>Top Value
                                                        </b>
                                                    </span>
                                                    <span>
                                                        <nz-tag [nzColor]="'#008BA6'">{{analytics.desc.top}}</nz-tag>
                                                    </span>
                                                </div>
                                            </nz-list-item>
                                            <nz-list-item>
                                                <div class="analytics-div">
                                                    <span>
                                                        <b>Top Value Frequency
                                                        </b>
                                                    </span>
                                                    <span>
                                                        <nz-tag [nzColor]="'#008BA6'">{{analytics.desc.freq}}</nz-tag>
                                                    </span>
                                                </div>
                                            </nz-list-item>
                                            <nz-list-item>
                                                <div class="analytics-div">
                                                    <span>
                                                        <b>Unique Values
                                                        </b>
                                                    </span>
                                                    <span>
                                                        <nz-tag [nzColor]="'#008BA6'">{{analytics.desc.unique}} <i
                                                                nz-icon nzType="eye" nz-popover
                                                                [nzPopoverContent]="contentTemplate"
                                                                (mouseenter)="getCoulmnStatics(analytics.col)"></i>
                                                        </nz-tag>

                                                    </span>
                                                </div>
                                            </nz-list-item>
                                        </nz-list>
                                    </nz-collapse-panel>
                                </nz-collapse>
                            </div>
                        </nz-card>
                    </nz-tab>
                    <nz-tab [nzTitle]="'Analytics'">
                        <nz-card>
                            <div>
                                <nz-select (ngModelChange)="analyticsTypeChanged($event)" [(ngModel)]="analytics.field"
                                    style="width: 30%;margin-right: 50px;" nzPlaceHolder="Choose Visualization">
                                    <nz-option *ngFor="let type of analyticsType" [nzValue]="type.value"
                                        [nzLabel]="type.label"></nz-option>
                                </nz-select>

                                <nz-select (ngModelChange)="xAxisChanged($event)" [(ngModel)]="analytics.x"
                                    style="width: 30%; margin: 0px 20px;" nzPlaceHolder="Choose X">
                                    <nz-option *ngFor="let col of cols" [nzValue]="col" [nzLabel]="col"></nz-option>
                                </nz-select>
                                <nz-select (ngModelChange)="yAxisChanged($event)" [(ngModel)]="analytics.y"
                                    style="width: 30%;" nzPlaceHolder="Choose Y">
                                    <nz-option *ngFor="let col of cols" [nzValue]="col" [nzLabel]="col"></nz-option>
                                </nz-select>
                            </div>
                            <div>
                                <div>
                                    <div *ngIf="analyticsStarted" class="graph-container"
                                        [ngClass]="{'loading' : !showGraph}">
                                        <nz-spin nzSimple *ngIf="!showGraph"></nz-spin>
                                        <ngx-charts-bar-vertical *ngIf="showGraph && analytics.field == 1"
                                            [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                                            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                                            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                                            (select)="onSelect($event)">
                                        </ngx-charts-bar-vertical>
                                        <ngx-charts-pie-chart *ngIf="showGraph  && analytics.field == 2" [view]="view"
                                            [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                                            [legend]="showLegend" [labels]="showLabels" [doughnut]="false">
                                        </ngx-charts-pie-chart>
                                        <ngx-charts-pie-chart *ngIf="showGraph  && analytics.field == 3" [view]="view"
                                            [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                                            [legend]="showLegend" [labels]="showLabels" [doughnut]="true">
                                        </ngx-charts-pie-chart>
                                    </div>

                                </div>
                            </div>
                        </nz-card>
                    </nz-tab>
                </nz-tabset>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #filterButton>
    <div id="filterBtn" *ngIf="mongoData && mongoData.length">
        <button class="mx-10" (click)="showTransformer = true" nz-button nzType="primary" nzShape="round"><i nz-icon
                nzType="table"></i>Transform</button>
        <button class="mx-10" (click)="showFilters = true" nz-button nzType="primary" nzShape="round"><i nz-icon
                nzType="filter"></i>Filter</button>
        <button class="mx-10" (click)="isSaveReportModalVisible = true" nz-button nzType="primary" nzShape="round"><i
                nz-icon nzType="save"></i>Save As Report</button>
        <button class="mx-10" (click)="isExportDetailsVisible = true" nz-button nzType="primary" nzShape="round">
            <i nz-icon nzType="upload"></i>Export</button>
        <button class="mx-10" (click)="resetFilter()" nz-button nzType="danger" nzShape="round"><i nz-icon
                nzType="close"></i>Reset Filter</button>
        <!-- <nz-select style="width: 50vh;" class="mx-10" nzPlaceHolder="Maks data with">
            <nz-option nzValue="HS256 algo" nzLabel="HS256 algo"></nz-option>
            <nz-option nzValue="HS384 algo" nzLabel="HS384 algo"></nz-option>
            <nz-option nzValue="HS512 algo" nzLabel="HS512 algo"></nz-option>
            <nz-option nzValue="PS256 algo" nzLabel="PS256 algo"></nz-option>
            <nz-option nzValue="RS256 algo" nzLabel="RS256 algo"></nz-option>
        </nz-select> -->
        <nz-select style="width: 50vh;" class="mx-10" nzPlaceHolder="Tokenize data with">
            <!-- <nz-option nzValue="HS256 algo" nzLabel="HS256 algo"></nz-option>
            <nz-option nzValue="HS384 algo" nzLabel="HS384 algo"></nz-option>
            <nz-option nzValue="HS512 algo" nzLabel="HS512 algo"></nz-option>
            <nz-option nzValue="PS256 algo" nzLabel="PS256 algo"></nz-option>
            <nz-option nzValue="RS256 algo" nzLabel="RS256 algo"></nz-option> -->
        </nz-select>

    </div>
</ng-template>
<ng-template #addFilterBtn>
    <div id="addFilterBtn">
        <a (click)="addFilter()" nz-button nzType="link" nzShape="round"><i nz-icon nzType="plus"></i>Add Filter</a>
        <button (click)="applyFilter()" nz-button nzType="primary" nzShape="round"><i nz-icon nzType="check"></i>Apply
            Filter</button>
    </div>
</ng-template>
<ng-template #exportTableFooter>
    <div id="addFilterBtn">
        <button (click)="exportData()" nz-button nzType="primary" nzShape="round"><i nz-icon nzType="check"></i>Export</button>
    </div>
</ng-template>
<ng-template #transformBtn>
    <div id="addFilterBtn">
        <a (click)="addTransformation()" nz-button nzType="link" nzShape="round"><i nz-icon nzType="plus"></i>Add
            Transformation</a>
        <button (click)="applyTransformation()" nz-button nzType="primary" nzShape="round"><i nz-icon
                nzType="tabel"></i>Apply
            Transformation</button>
    </div>
</ng-template>
<nz-drawer nzTitle="Apply Filter" [nzClosable]="true" [nzVisible]="showFilters" [nzPlacement]="'bottom'" nzHeight="500"
    (nzOnClose)="showFilters = false">
    <nz-table [nzFooter]="addFilterBtn" [nzFrontPagination]="false" nzBordered nzSize="small" [nzLoading]="dataLoading"
        nzAlign="center" #basicTable [nzData]="mongoData">
        <thead>
            <tr>
                <th>Field</th>
                <th>Condition</th>
                <th>Value</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let filter of filters;let i = index;">
                <td>
                    <nz-select style="width: 100%;" [(ngModel)]="filter.field">
                        <nz-option *ngFor="let col of cols" [nzValue]="col" [nzLabel]="col"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-select style="width: 100%;" [(ngModel)]="filter.condition">
                        <nz-option nzValue="<" nzLabel="<"></nz-option>
                        <nz-option nzValue="<" nzLabel="<"></nz-option>
                        <nz-option nzValue="<=" nzLabel="<="></nz-option>
                        <nz-option nzValue=">" nzLabel=">"></nz-option>
                        <nz-option nzValue=">=" nzLabel=">="></nz-option>
                        <nz-option nzValue="=" nzLabel="="></nz-option>
                        <nz-option nzValue="!=" nzLabel="!="></nz-option>
                    </nz-select>
                </td>
                <td nzBreakWord> <input nz-input placeholder="Enter Value" [(ngModel)]="filter.val" /></td>
                <td nzBreakWord><button (click)="removeFilter(i)" nz-button nzType="danger" nzShape="circle"><i nz-icon
                            nzType="delete"></i></button></td>
            </tr>
        </tbody>
    </nz-table>
</nz-drawer>
<nz-drawer nzTitle="Transform Data" [nzClosable]="true" [nzVisible]="showTransformer" [nzPlacement]="'bottom'"
    nzHeight="500" (nzOnClose)="showTransformer = false">
    <nz-table [nzScroll]="{ x: true, y: false }" [nzFooter]="transformBtn" [nzFrontPagination]="false" nzBordered
        nzSize="small" [nzLoading]="dataLoading" nzAlign="center" #basicTable [nzData]="mongoData">
        <thead>
            <tr>
                <th>Target Field</th>
                <th>Operation</th>
                <th>Result Field</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transformer;let i = index;">
                <td>
                    <nz-select nzMode="multiple" style="width: 100%;" [(ngModel)]="t.targets">
                        <nz-option *ngFor="let col of cols" [nzValue]="col" [nzLabel]="col"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-select style="width: 100%;" [(ngModel)]="t.op">
                        <nz-option *ngFor="let op of transformOperationTypes" [nzValue]="op.value" [nzLabel]="op.label">
                        </nz-option>
                    </nz-select>
                </td>
                <td nzBreakWord> <input nz-input placeholder="Enter Name of Resultant Field" [(ngModel)]="t.result" />
                </td>
                <td nzBreakWord><button (click)="removeFilter(i)" nz-button nzType="danger" nzShape="circle"><i nz-icon
                            nzType="delete"></i></button></td>
            </tr>
        </tbody>
    </nz-table>
</nz-drawer>
<nz-modal [(nzVisible)]="isSaveReportModalVisible" nzTitle="Save Report" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <input nz-input placeholder="Report Name" [(ngModel)]="reportName" />
</nz-modal>


<nz-drawer [nzClosable]="true" [nzWidth]="640" [nzVisible]="isExportDetailsVisible" nzPlacement="right"
    nzTitle="Enter details to export data" (nzOnClose)="isExportDetailsVisible = false">
    <nz-card>
        <!-- <div class="card-header">
            <h3>
                Create New Connection
            </h3>
            <button nz-button nzType="danger"><i nz-icon nzType="close"></i>Cancel</button>
        </div> -->
        <form nz-form [formGroup]="validateForm" class="login-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Connection Name">
                    <nz-input-group>
                        <nz-select style="width: 100%;" formControlName="type" nzPlaceHolder="Select Destination Type">
                            <nz-option *ngFor="let type of destinationType" [nzValue]="type.value"
                                [nzLabel]="type.label"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Host Name">
                    <nz-input-group nzPrefixIcon="desktop">
                        <input type="text" nz-input formControlName="host" placeholder="Host" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="exportDB && exportDB.length">
                <nz-form-control>
                    <nz-select [nzLoading]="isChildrenLoading" (ngModelChange)="getDatabaseChildrenForExport()"
                        formControlName="db" nzPlaceHolder="Select Databse">
                        <nz-option *ngFor="let db of exportDB" [nzValue]="db.db" [nzLabel]="db.db"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="exportChildren && exportChildren.length">
                <nz-form-control>
                    <nz-select (ngModelChange)="getMySQLCols()" formControlName="collection"
                        [nzPlaceHolder]="validateForm.controls.type.value == 1 ? 'Select Table' : 'Select Collection'">
                        <nz-option *ngFor="let collection of exportChildren" [nzValue]="collection"
                            [nzLabel]="collection">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-list *ngIf="exportCols && exportCols.length" nzBordered nzSize="small">
                <nz-list-item *ngFor="let item of cols">
                    <span style="width: 50%;" nz-typography>{{item}}</span>
                    <nz-select style="width: 50%;">
                        <nz-option *ngFor="let col of exportCols" [nzValue]="col.COLUMN_NAME"
                            [nzLabel]="col.COLUMN_NAME">
                        </nz-option>
                    </nz-select>
                </nz-list-item>
            </nz-list>
            <div style="padding: 10px 0px;" *ngIf="validateForm.controls.db.value && validateForm.controls.collection.value">
                <label nz-checkbox formControlName="maskingRequired">Do you want to mask data while writting back?</label>
            </div>
            <button [nzLoading]="isExportLoader"
                *ngIf="!validateForm.controls.db.value && !validateForm.controls.collection.value"
                (click)="exportConnect()" nzType="primary" [nzLoading]="isLoadingConnect" nz-button type="button">
                <span>Proceed</span>
            </button>

            <button [nzLoading]="isExportLoader"
                *ngIf="validateForm.controls.db.value && validateForm.controls.collection.value"
                (click)="export()" nzType="primary"
                [nzLoading]="isLoadingConnect" nz-button type="button">
                <span>Export</span>
            </button>
        </form>

        <!-- <nz-spin nzSimple *ngIf="isExportLoader"></nz-spin> -->
    </nz-card>
</nz-drawer>
<ng-template #titleTemplate><i nz-icon nzType="close"></i> Title</ng-template>
<ng-template #contentTemplate>
    <nz-list style="height:200px;overflow-y: scroll;" nzBordered nzSize="large">
        <nz-list-item>
            <div class="analytics-div">
                <span><b>Value</b>
                </span>
                <span style="padding : 0px 10px;">
                    <b>Count</b>
                </span>
            </div>
        </nz-list-item>
        <nz-list-item *ngFor="let item of stats">
            <div class="analytics-div">
                <span>{{item.name}}
                </span>
                <span style="padding : 0px 10px;">
                    {{item.count}}
                </span>
            </div>
        </nz-list-item>
    </nz-list>
</ng-template>


<nz-drawer nzTitle="Mask Data" [nzClosable]="true" [nzVisible]="showMaskData" [nzPlacement]="'bottom'" nzHeight="500"
    (nzOnClose)="showMaskData = false">
    <nz-table [nzFooter]="exportTableFooter" [nzScroll]="{ x: true, y: false }" [nzFrontPagination]="false" nzBordered
        nzSize="small" [nzLoading]="dataLoading" nzAlign="center" #basicTable [nzData]="mongoData">
        <thead>
            <tr>
                <th>Choose Algorithm</th>
                <th>Fields</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <nz-select [(ngModel)]="exportInfo.name" style="width: 50%;" class="mx-10" nzPlaceHolder="Maks data with">
                        <nz-option nzValue="HS256" nzLabel="HS256 algo"></nz-option>
                        <nz-option nzValue="HS384" nzLabel="HS384 algo"></nz-option>
                        <nz-option nzValue="HS512" nzLabel="HS512 algo"></nz-option>
                        <nz-option nzValue="PS256" nzLabel="PS256 algo"></nz-option>
                        <nz-option nzValue="RS256" nzLabel="RS256 algo"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-select [(ngModel)]="exportInfo.cols" nzMode="multiple"  style="width: 50%; margin: 0px 20px;" nzPlaceHolder="Choose X">
                        <nz-option *ngFor="let col of cols" [nzValue]="col" [nzLabel]="col"></nz-option>
                    </nz-select>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-drawer>