<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img *ngIf="!isCollapsed" height="32px" width="64px"
                    src="assets/logo.webp" alt="logo">
                <img *ngIf="isCollapsed" height="32px" width="32px"
                    src="assets/logo.webp" alt="logo">
                <h1>CDO Studio</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li routerLink="/home" routerLinkActive="active-link" nz-menu-item nzMatchRouter>
                <i nz-icon nzType="home"></i>
                <span>Home</span>
            </li>
            <li routerLink="/reports" routerLinkActive="active-link" nz-menu-item nzMatchRouter nz-menu-item>
                <i nz-icon nzType="form"></i>
                <span>Reports</span>
            </li>
            <li nz-submenu nzOpen="false" nzTitle="Integration" nzIcon="form">
                <ul>
                    <li routerLink="/mysql" routerLinkActive="active-link" nz-menu-item nzMatchRouter>
                        <a>My SQL</a>
                    </li>
                    <li routerLink="/mongo" routerLinkActive="active-link" nz-menu-item nzMatchRouter>
                        <a>Mongo DB</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Service Now</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>AWS Dynamo DB</a>
                    </li>
                </ul>
            </li>
            <li routerLink="/users" routerLinkActive="active-link" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Navigation One' : ''">
                <i nz-icon nzType="form"></i>
                <span>Users</span>
            </li>
            <li routerLink="/events" routerLinkActive="active-link" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Navigation One' : ''">
                <i nz-icon nzType="form"></i>
                <span>Events & Notifications</span>
            </li>
            <li nzOpen="false" nz-submenu nzTitle="Account" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>Edit Profile</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Change Password</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/login" routerLinkActive="active-link">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>