<nz-card>
    <!-- <div class="card-header">
        <h3>
            Connections
        </h3>
        <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus"></i>New</button>
    </div> -->
    <nz-table [nzLoading]="loadingData" nzAlign="center" [nzData]="reports">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Last Updated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reports">
                <td>{{ data.name }}</td>
                <td>{{ data.con_id }}</td>
                <td>{{ data.last_updated }}</td>
                <td>
                    <button class="mx-10" nz-button nzShape="circle" nzType="primary"><i nz-icon
                            nzType="eye"></i></button>
                    <button nz-button nzShape="circle" nzType="primary"><i nz-icon nzType="edit"></i></button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>