/* You can add global styles to this file, and also import other style files */
.mx-10{
    margin: 0px 10px;
}
:focus {
    outline : none;
}
.mb-0{
    margin-bottom: 0px;
}
.p-1{
    padding :1rem;
}